.title-our-values {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 6em !important;
  color: #029fe4;
  line-height: 6.75rem;
}

.body-our-values {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px !important;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #777777;
}

.blue-box {
  background-color: #029fe4;
}

.background-speciality {
  background-color: white;
  background-image: url("../../../Assets/background-white.jpg");
}

@media screen and (min-width: 576px) and (max-width: 1600px) {
  .title-our-values {
    font-size: 4em !important;
  }

  .body-our-values {
    font-size: 25px;
  }
}
